* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0f172a;
  font-family: "Ubuntu", sans-serif;
  color: white;
}
html {
  scroll-behavior: smooth;
}
#header {
  background: rgba(15, 23, 42, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;

  /* border: 2px solid red; */
  height: 60px;
}
.logo h1 {
  font-size: 36px;
}

.box h2 {
  font-size: 44px;
}
.navbar {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  list-style: none;
  margin-right: 30px;
  font-size: 25px;
}
.navbar ul li a {
  color: white;
  cursor: pointer;
}
.box {
  height: 300px;
  width: 24%;
  /* border: 2px solid red; */
  min-width: 400px;
}
.b {
  margin-top: 30px;
  font-size: 30px;
}
.w {
  margin-top: 30px;
  font-size: 30px;
}
.hero {
  height: 625px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid red; */
  margin-top: 25px;
}

.box img {
  height: 300px;
  width: 42%;
  min-width: 300px;
  max-width: 300px;
  border-radius: 5px;
}

#element {
  font-size: 30px;

  color: #00ffc7;
}
#element {
  margin-top: 45px;
}

/* Home */
#home {
  height: 225px;
  width: 100%;
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.box3 {
  height: 225px;
  width: 80%;
  /* border: 2px solid green; */
  min-width: 400px;
  box-sizing: 0px 0px 20px white;
}

.box3 p {
  text-align: justify;
  padding-top: 25px;
  word-spacing: 2px;
  font-size: 21px;
  line-height: 1.5;
}

/* About */
#about {
  height: 400px;
  width: 100%;
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.logo2 h1 {
  text-align: center;
  color: violet;
  padding-top: 18px;
}
.logo1 h1 {
  text-align: center;
  color: red;
  padding-top: 18px;
}
.box2 {
  height: 400px;
  width: 80%;
  /* border: 2px solid green; */
  min-width: 400px;
  box-sizing: 0px 0px 20px white;
}

.box2 p {
  text-align: justify;
  padding-top: 25px;
  word-spacing: 2px;
  font-size: 21px;
  line-height: 1.5;
}

/*  skills */
#skills {
  height: 500px;
  width: 100%;
  /* border: 2px solid yellow; */
  padding-top: 50px;
}
.logo4 h1 {
  text-align: center;
  color: red;
  padding-top: 18px;
}

.box4 {
  height: 400px;
  width: 100%;
  /* border: 2px solid green; */
  min-width: 400px;
  box-sizing: 0px 0px 20px white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.s4 {
  height: 300px;
  width: 300px;
  /* border: 2px solid red; */
}
.s4 h1 {
  color: rgb(27, 164, 202);
}

.s4 ol {
  list-style-position: inside;
  padding-top: 20px;
}
.s4 ol li {
  font-size: 25px;
  padding-top: 10px;
}
#Education {
  height: 500px;
  width: 100%;
  /* border: 2px solid yellow; */
  padding-top: 50px;
}
.qualification {
  height: 400px;
  width: 100%;
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  height: 200px;
  width: 80%;
  text-align: center;
  font-size: 25px;
}

#contact {
  height: 458px;
  width: 100%;
  /* border: 2px solid yellow; */
}

.conbox {
  height: 400px;
  width: 100%;
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.socialmedia {
  width: 60%;
  height: 300px;
  /* border: 2px solid red; */

  padding-top: 70px;
  text-align: justify;
}
.socialmedia p {
  font-size: 50px;
  line-height: 1.5;
}
.socialmedia a {
  width: 300px;
  margin: 0px 50px;
  font-size: 50px;
}

.footer {
  border: 2px solid green;
  background-color: black;
  color: white;
}
.footer p {
  font-size: 30px;
  text-align: center;
}

/* Responsive */

@media (max-width: 851px) {
  .hero {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 10px;
    height: 700px;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
    /* border: 2px yellow; */
    padding-top: 0;
  }
  #header {
    height: 80px;
  }
  .navbar {
    height: 80px;
    /* border: 2px solid green; */
  }
  #home {
    height: 357px;
    width: 100%;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
  .box3 {
    height: 300px;
    width: 80%;
    min-width: 300px;
  }
  .logo2 h1 {
    text-align: center;
    color: violet;
  }

  #about {
    height: 570px;
  }

  .box2 {
    /* border: 2px solid red; */
    height: 512px;
    width: 80%;
    min-width: 400px;
  }

  .box2 p {
    text-align: justify;
    padding-top: 10px;
    word-spacing: 2px;
    font-size: 17px;
    line-height: 1.5;
  }

  .box4 {
    flex-direction: column;
    height: 633px;
    gap: 10px;
  }

  #skills {
    height: 700px;
    width: 100%;
    /* border: 2px solid yellow; */
  }

  .logo4 h1 {
    text-align: center;
    color: red;
  }
  .s4 {
    width: 60%;
  }
  .s4 h1 {
    padding-top: 20px;
  }
  .socialmedia p {
    font-size: 23px;
    line-height: 1.5;
  }
  .socialmedia a {
    font-size: 30px;
    margin: 30px 20px;
  }
  .socialmedia {
    width: 60%;
    height: 300px;
    /* border: 2px solid red; */
    padding-top: 40px;
    text-align: justify;
  }
  .footer p {
    font-size: 15px;
    text-align: center;
  }
}

@media (max-width: 674px) {
  #header {
    height: 70px;
    width: 100%;
  }
  .navbar {
    height: 70px;
    width: 100%;
  }
  .navbar ul li {
    font-size: 12px;
  }

  .logo h1 {
    font-size: 20px;
  }

  .box {
    height: 300px;
    width: 20%;
    /* border: 2px solid red; */
    min-width: 300px;
  }
  .box h2 {
    font-size: 22px;
  }

  .b {
    margin-top: 30px;
    font-size: 20px;
  }
  .w {
    margin-top: 30px;
    font-size: 20px;
  }

  #home {
    height: 275px;
    width: 100%;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
  }

  #about {
    height: 454px;
  }

  #skills {
    height: 458px;
    width: 100%;
    /* border: 2px solid yellow; */
  }

  #Education {
    height: 361px;
    width: 100%;
    /* border: 2px solid yellow; */
    padding: 0px;
   
}

.qualification {
    height: 231px;
    width: 100%;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}


#Education {
        height: 297px;
        width: 100%;
        /* border: 2px solid yellow; */
        padding: 0px;
    }


 .socialmedia {
        width: 100%;
        height: 217px;
        /* border: 2px solid red; */
        padding-top: 40px;
        text-align: justify;
    }

    .footer p {
        font-size: 12px;
        text-align: center;
    }

    .box img {
    height: 300px;
    width: 42%;
    min-width: 272px;
    max-width: 300px;
    border-radius: 5px;
}

.box {
        height: 300px;
        width: 20%;
        /* border: 2px solid red; */
        min-width: 272px;
    }




  .box3 p {
    text-align: justify;
    padding-top: 20px;
    word-spacing: 2px;
    font-size: 17px;
    line-height: 1.5;
  }
  .box2 p {
    text-align: justify;
    padding-top: 10px;
    word-spacing: 2px;
    font-size: 12px;
    line-height: 1.5;
  }

  .box2 {
    /* border: 2px solid red; */
    height: 512px;
    width: 80%;
    min-width: 200px;
  }

  .s4 ol li {
    font-size: 12px;
    padding-top: 5px;
  }

  .box4 {
    height: 400px;
    width: 100%;
    /* border: 2px solid green; */
    min-width: 400px;
    box-sizing: 0px 0px 20px white;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    justify-content: center;
    align-items: center;
  }

  .logo4 h1 {
    font-size: 23px;
  }

  table {
    height: 200px;
    width: 100%;
    text-align: center;
    font-size: 15px;
  }

  .socialmedia {
    width: 100%;
    height: 300px;
    /* border: 2px solid red; */
    padding-top: 40px;
    text-align: justify;
  }

  footer p {
    font-size: 11px;
    text-align: center;
  }
}
