* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0f172a;
  font-family: "Ubuntu", sans-serif;
  color: white;
}
#header{
border: 2px solid red;
height: 60px;
}
.logo h1{
  font-size: 36px;
}

.box h2{
  font-size: 34px;

}
.navbar{
  display: flex;
  justify-content: space-around;
  margin: 15px;
}
.navbar ul{
  display: flex;

}
.navbar ul li{
  list-style: none;
  margin-right: 30px;
  font-size: 25px;
 

}
.navbar ul li a{
  color: white;


}
.box{
  height: 300px;
  width: 24%;
  border: 2px solid red;
  min-width: 400px;

  

  
}
.b{
  margin-top: 30px;
  font-size: 30px;

  
}
.w{
  margin-top: 30px;
  font-size:30px ;

  
}
.hero{
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: 2px solid red;
  margin-top: 50px;
}

.box img{
  height:300px ;
  width: 42%;
  min-width: 300px;
  max-width: 300px;
  border-radius: 5px;
}


#element{
  font-size: 30px;

  color: #00ffc7;
}
#element{
  margin-top: 45px;

}

@media screen and (max-width:884px){
  #header{
    height: 100px;
    width: 100%;

  }
  .navbar{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
 
  }
  .navbar ul {
    margin-top: 13px;
    


  }
  .hero{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 25px;
  }

}
@media screen and (max-width:574px){
  #header{
    height: 70px;
    width: 100%;

  }
  .navbar{
    height: 70px;
    width: 100%;
  }
  .navbar ul li{
    font-size: 12px;

  }
  .logo h1{
    font-size: 20px;
  }
  .box{
    width:60%;
    height: 300px;
    min-width: 300px;

  }
  .box1 p{
    margin-top: 7px;
    font-size: 20px;


  }
  .box img{
    width:60%;
    height: 300px;
    min-width: 300px;

  }
  .box1 .w{
    font-size: 20px;
    margin-top: 7px;
  }
  .hero{
    height: 700px;
  }
  .element{
    margin-top: 20px;
  }
}
@media screen and (max-width:350px){
  #header{
    height: 60px;
    width: 100%;
  }
  .navbar{
    height: 60px;
    width: 100%;
    
  }
  .navbar ul{
    height: 60px;
    width:77% ;
    
  }

  .navbar ul li{
    font-size: 8px;
   
    
    
  }
  #element{
    margin-top: 20px;
  }

  .box {
        width: 60%;
        height: 300px;
        min-width: 200px;
    }

    .box img {
        width: 60%;
        height: 300px;
        min-width: 200px;
    }
    .box1 p {
        margin-top: 5px;
        font-size: 15px;
    }
    .box1 .w {
        font-size: 15px;
        margin-top: 5px;
    }

    .box h2{
      font-size: 21px;
    }

    #element{
      font-size: 22px;
    }

  
}




